/*
Theme Name: Austen Classic
Theme URI: https://pressbooks.com/themes/austenclassic
Description: Named for English author Jane Austen, this is a traditional book theme, with serif fonts, that works well for fiction and simple-layout non-fiction.
Author: Pressbooks (Book Oven Inc.)
Author URI: https://pressbooks.com
Copyright: 2011-2017 Pressbooks (Book Oven Inc.) <code@pressbooks.com>
Version: 1.6.1
Template: pressbooks-book
GitHub Theme URI: pressbooks/pressbooks-austenclassic
*/
